* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    color: white;
    background-image: url(resources/banner_image.png);
    background-color: #5912AC;
    background-size: cover;
    width: 1440px;
    height: 616px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 32px;
}

#menu-principal,
#menu-acesso {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    width: fit-content;
}

#logo-menu {
    width: 48px;
    height: 64px;
    margin-right: 35px;
}

#menu-principal h5 {
    margin-right: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    line-height: 118%;
}

#botão {
    background-color: #00C88C;
    width: 234px;
    height: 44px;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding-top: 12px;
}

#acesso {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

#chamada-1 {
    display: flex;
    width: 100%;
    margin-top: 60px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

#chamada {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    padding-left: 128px;
}

#titulo-chamada-1 {
    font-size: 40px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 500;
    width: 80%;
    line-height: 48px;
    padding-top: 15px;
}

#chamada-1 p {
    font-size: 18px;
    margin-bottom: 30px;
    width: 80%;
}

#video-chamada-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    height: 48px;
    padding-top: 45px;
}

#play {
    display: flex;
    width: 48px;
    height: 48px;
    margin-right: 20px;
}

#video-chamada-1 a {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    text-decoration: underline;
}

#banner-chamada {
    width: 316px;
    height: 260px;
    padding-left: 20px;
}

#notificação {
    width: 1440px;
    background-color: #FFFFFF;
}

#notificação-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 112px;
    border: 1px solid #DFDFDF;
}

#notificação-1 img {
    width: 56px;
    height: 56px;
    border-radius: 4px solid #FFFFFF;
}

#notificação-1 a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    color: #5E20A4;
    margin-left: 32px;
}

#notificação-1 h4 {
    font-family: Helvetica;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-left: 2px;
}

main {
    background-color: #F2F2F2;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#conteudo-busca,
#conteudo-pagamento {
    width: 1440px;
    padding: 120px 128px 120px 228px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#conteudo-1 {
    display: grid;
    grid-row: auto;
    align-content: space-between;
    width: 444px;
    height: 392px;
}

#conteudo-1 h2,
#conteudo-2 h2 {
    width: 429px;
    width: 60%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    color: #3D3D3D;
}

#conteudo-1 p,
#conteudo-2 p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #4A4A4A;
}

#conteudo-1 a,
#conteudo-1 span,
#conteudo-2 a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #5E20A4;
    text-decoration: underline;
}

#share-macbook {
    width: 584px;
    height: 392px;
}

.linha-separação {
    width: 748px;
    height: 0px;
    border: 2px solid #DFDFDF;
    background-color: #DFDFDF;
}

#cadastro {
    width: 1440px;
    padding: 64px 228px;
    display: grid;
    justify-items: center;
}

#cadastro h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    color: #3D3D3D;
}

#cadastro p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #3D3D3D;
    padding-top: 16px;
}

#campo-cadastro {
    display: flex;
    width: 584px;
    padding-top: 74px;
    justify-content: space-between;
}

#input-nome,
#input-email {
    width: 232px;
    height: 48px;
    border-radius: 1px solid #DFDFDF;
    box-sizing: border-box;
}

#input-nome::placeholder,
#input-email::placeholder {
    padding: 14px 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #3D3D3D
}

#botão-cadastro {
    background-color: #00C88C;
    width: 96px;
    height: 48px;
    border: none;
    border-radius: 4px;
    padding: 14px 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: white;
}

#shared-payments {
    width: 456px;
    height: 336px;
}

#conteudo-pagamento {
    padding: 96px 228px 96px 228px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#conteudo-2 {
    display: grid;
    grid-row: auto;
    align-content: space-between;
    width: 484px;
    height: 276px;
}

#conteudo-2 h2 {
    width: 411px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    color: #3D3D3D;
}

#conteudo-2 p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #4A4A4A;
    padding-top: 40px;
}

#conteudo-2 a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #5E20A4;
    text-decoration: underline;
    padding-top: 40px;
}

#principios {
    width: 1440px;
    padding: 96px 228px 104px 228px;
    display: grid;
    justify-items: center;
}

#principios h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    color: #3D3D3D;
}

#principios p {
    width: 784px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #4A4A4A;
    padding-top: 40px;
    text-align: center;
}

#principios a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #5E20A4;
    text-decoration: underline;
    padding-top: 40px;
    padding-bottom: 64px;
}

#billing {
    width: 984px;
    height: 392px;
}

#diario {
    display: flex;
    width: 1440px;
    padding: 96px 228px 120px 228px;
    display: grid;
    justify-items: center;
}

#daily {
    width: 216px;
    height: 96px;
}

#diario h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    color: #3D3D3D;
    padding-top: 40px;
}

#diario p {
    width: 784px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #4A4A4A;
    padding-top: 40px;
    text-align: center;
}

footer {
    width: 1440px;
    height: 540px;
    padding: 80px 128px 32px 128px;
}

#rodape {
    display: grid;
    justify-items: center;
}

#rodape h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    color: #3D3D3D;
    padding-bottom: 16px;
}

#rodape p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #3D3D3D;
    padding-bottom: 32px;
}

#rodape button {
    width: 304px;
    height: 68px;
    background: #5E20A4;
    border-radius: 4px;
    border: none;
}

#botao-rodape {
    width: 304px;
    height: 68px;
    display: flex;
    justify-items: center;
    align-items: center;
    padding-left: 25px;
}

#calendario {
    width: 30px;
    height: 30px;
}

#texto-botao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 21px;
}

#titulo-botao {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: white;
}

#subtitulo-botao {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: white;
}

#link-compartilhamento {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #5E20A4;
    text-decoration-line: underline;
    padding-top: 24px;
    padding-bottom: 82px;
}

#nav-rodape {
    display: flex;
    width: 1184px;
    align-items: center;
    justify-content: space-between;
}

#hapu-gray {
    width: 64px;
    height: 24px;
}

#menu-rodape {
    display: flex;
    margin-left: 180px;
}

#menu-rodape h5 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #3D3D3D;
    padding-right: 29px;
}

#redes-sociais {
    display: flex;
    width: 167px;
    height: 45px;
    justify-content: space-between;
}

#redes-sociais div {
    width: 45px;
    height: 45px;
    border: 1px solid #DFDFDF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#facebook {
    width: 8.44px;
    height: 16.88px;
    color: #3D3D3D;
    opacity: 0.7;
}

#twitter {
    width: 18.28px;
    height: 12.66px;
    color: #3D3D3D;
    opacity: 0.7;
}

#instagram {
    width: 16.88px;
    height: 16.88px;
    color: #3D3D3D;
    opacity: 0.7;
}

#copyright {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #3D3D3D;
    opacity: 0.6;
    padding-top: 90px;
}